@import url("https://fonts.cdnfonts.com/css/helvetica-255");

:host {
  font-family: "Helvetica", sans-serif;
}

.editor {
  display: flex;
  justify-content: space-between;
}

.preview {
  width: 30%;
}

.grid {
  margin-top: 10px;
  background-color: #333;

  sprite-item {
    display: inline-block;
    vertical-align: top;
  }
}
