:host {
  padding: 10px;
  transition: opacity 0.3s ease;
  font-family: Arial, sans-serif;
  color: #CCC;
}

.sprite {
  position: relative;
}

.sprite-canvas:focus {
  outline: 2px solid #FF7F50FF;
}

.resize-handle {
  position: absolute;
  z-index: 10;
}

.box, .row {
  display: flex;
  margin: 5px 0;
}

.box {
  flex-direction: column;
}

.row {
  align-items: center;

  > label {
    margin-right: 15px;
  }

  > input {
    flex: 1;
  }
}

input {
  background-color: #444;
  border: none;
  color: inherit;
}

.quick-actions {
  margin-bottom: 10px;

  button {
    background-color: #444;
    font-size: 16px;
  }
}
