@import url("https://fonts.cdnfonts.com/css/helvetica-255");

:host {
  padding: 10px;
  transition: opacity 0.3s ease;
  font-family: "Helvetica", sans-serif;
  color: #CCC;
}

.sprite {
  position: relative;
}

.resize-handle {
  position: absolute;
  z-index: 10;
}

.box {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.row > label {
  margin-right: 15px;
}

.row > input {
  flex: 1;
}

.quick-actions {
  margin-bottom: 10px;
}

.coord {
  width: 50px;
}
